.card
{
  position: absolute;
  top: 40%;
  left: 50%;
  margin: -150px 0 0 -150px;
  width:200px;
  height:150px;
}


.basico
{
  width:200px;
  height:150px;
  background-color: white;
  margin: 15px;
}